/* index.css */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.w-40 {
  width: 10rem;
}

.h-40 {
  height: 10rem;
}

.w-16 {
  width: 4rem;
}

.h-16 {
  height: 4rem;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}

.bg-blue-500 {
  background-color: #3b82f6;
}

.rounded-full {
  border-radius: 9999px;
}
